<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /rupa_senja/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /rupa_senja/index.html [L]
</IfModule>